// src/app/components/watchlist/watchlist.component.scss

@import 'src/styles.scss';

.watchlist-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;

    // Применение темной темы
    &.dark-theme {
      background-color: darken($dark-bg, 5%);
      color: $primary-color;
    }

    // Применение светлой темы
    &.light-theme {
      background-color:$primary-color;
      color: $primary-color-dark;
    }
  }

  th {

    &.dark-theme {
      background-color: darken($dark-bg, 5%);
      color: $primary-color;
      
    &:hover {
      background-color: $primary-color-dark;
    }
    }

    // Применение светлой темы
    &.light-theme {
      background-color:$primary-color;
      color: $primary-color-dark;
      &:hover {
        background-color: $primary-color;
      }
    }

  }
}
