<!-- watchlist.component.html -->
<h2 class="title">Cryptocurrency Watchlist</h2>
<app-search (searchChange)="onSearchChange($event)"></app-search>

<table class="watchlist-table" [ngClass]="{'dark-theme': theme === 'dark', 'light-theme': theme === 'light'}">
  <thead>
    <tr>
      <th (click)="sortTable('name')">Name</th>
      <th (click)="sortTable('symbol')">Symbol</th>
      <th (click)="sortTable('price')">Price ({{ currentCurrency }})</th>
      <th (click)="sortTable('marketCap')">Market Cap ({{ currentCurrency }})</th>
      <th (click)="sortTable('supply')">Supply</th>
      <th>Graph</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let crypto of filteredCryptocurrencies">
      <td>{{ crypto.name }}</td>
      <td>{{ crypto.symbol }}</td>
      <td>{{ convertValue(crypto.price) | currency:currentCurrency:'symbol':'1.2-2' }}</td>
      <td>{{ convertValue(crypto.marketCap) | currency:currentCurrency:'symbol':'1.0-0' }}</td>
      <td>{{ crypto.supply | number }}</td>
      <td>
        <kendo-sparkline [data]="data" type="area"> </kendo-sparkline>
      </td>
    </tr>
  </tbody>
</table>
