/* Стили для светлой темы */
.watchlist-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  th {
    background-color: #4CAF50; 
    color: #fff;
    padding: 15px;
    cursor: pointer;
    text-align: left;
  }

  td {
    padding: 15px;
    text-align: left;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tbody tr:hover {
    background-color: #e1e1e1;
  }
}

/* Стили для темной темы */
.dark-theme .watchlist-table {
  background-color: #333333 !important;
  color: #ffffff;

  th {
    background-color: #7B1FA2 !important;
    color: #ffffff;
  }

  td {
    color: #ffffff;
  }

  tr:nth-child(even) {
    background-color: #444444 !important;
  }

 tr:hover {
    background-color: #555555 !important;
  }
}
