<header class="header">
  <app-currency-switcher></app-currency-switcher>
  <button (click)="toggleTheme()">Toggle Theme</button>
</header>

<div class="main-layout">
  <div class="sidebar">
    <button [routerLink]="[{ outlets: { panel: ['dashboard'] } }]" routerLinkActive="active">Dashboard</button>
    <button [routerLink]="[{ outlets: { panel: ['wallet'] } }]" routerLinkActive="active">Wallet</button>
    
  </div>

  <div class="content scroll">
    <router-outlet></router-outlet>  <!-- WatchlistComponent будет отображаться здесь -->
  </div>

  <div class="panel">
    <router-outlet name="panel"></router-outlet> <!-- Правый outlet для Dashboard и Wallet -->
  </div>
  
</div>
