<h2 class="title">Wallet</h2>
<div class="wallet-summary" *ngIf="wallet">
  <p>Total Portfolio Value: <span>{{wallet.totalValue | currency}}</span></p>
  <div class="token-list">
    <div *ngFor="let token of wallet.tokens" class="token-item">
      <p>{{token.symbol}}: <span>{{token.amount | number:'1.2-2'}} USD</span></p>
    </div>
  </div>
</div>

<h3 class="title">Last Transactions</h3>
<ul class="transaction-list">
  <li *ngFor="let transaction of transactions" class="transaction-item">
    {{transaction.date}}: <span>{{transaction.amount}}</span> {{transaction.token}} ({{transaction.type}})
  </li>
</ul>
