<div class="wallet" [ngClass]="{'dark-theme': theme === 'dark'}">
  <h2>Wallet</h2>
  <p>Total Portfolio Value: {{ convertToCurrentCurrency(wallet?.totalValue || 0) | currency:currentCurrency:'symbol':'1.2-2' }}</p>

  <app-search (searchChange)="onSearchTokens($event)"></app-search>

  <div>
    <label for="tokenSelect">Select Token:</label>
    <select id="tokenSelect" [(ngModel)]="selectedToken" (change)="onTokenSelect(selectedToken)">
      <option *ngFor="let token of filteredTokens" [value]="token.symbol">{{ token.symbol }}</option>
    </select>
  </div>

  <div>
    <h3>{{ selectedToken }} Balance: {{ selectedTokenBalance | number:'1.2-2' }}</h3>
  </div>

  <div>
    <label for="addFunds">Add Funds:</label>
    <input type="number" id="addFunds" class="funds" #addAmount>
    <button (click)="addFunds(addAmount.valueAsNumber)">Add</button>
  </div>

  <div>
    <label for="sendFunds">Send Funds:</label>
    <input type="number" id="sendFunds" class="funds" #sendAmount>
    <button (click)="sendFunds(sendAmount.valueAsNumber)">Send</button>
  </div>

  <div>
    <button (click)="openConverter()">Open Converter</button>
  </div>

  <h3>Recent Transactions</h3>
  
  <app-search (searchChange)="onSearchTransactions($event)"></app-search>
  <div class="block-transaction">
    <ul>
      <li *ngFor="let transaction of filteredTransactions">
        {{ transaction.date | date:"dd-MM-yyyy" }} - {{ transaction.type | titlecase }} {{ transaction.amount }} {{ transaction.token }}
      </li>
    </ul>
  </div>

  <!-- Модальное окно для конвертера -->
  <div class="modal" *ngIf="isConverterOpen">
    <div class="modal-content">
      <app-converter></app-converter>
      <button class="close-button" (click)="closeConverter()">Close</button>
    </div>
  </div>
</div>
