// src/styles.scss
body>div {
  visibility: hidden;
}
div[kendowatermarkoverlay] {
  background-image: none !important;
}
// Переменные для цветов и стилей
$primary-color: #4caf50; // Зеленый
$secondary-color: #8bc34a;
$dark-bg: #303030;
$light-bg: #f4f4f4;
$text-dark: #333;
$text-light: #fff;

// Новый фиолетовый цвет для темной темы
$primary-color-dark: #8e44ad; // Фиолетовый для темной темы
$secondary-color-dark: #9b59b6;
$primary-gradient: linear-gradient(45deg, $primary-color, $secondary-color);
$primary-gradient-dark: linear-gradient(45deg, $primary-color-dark, $secondary-color-dark);

// Миксин для темной темы
@mixin theme-dark {
  background-color: $dark-bg;
  color: $text-light;

  .form-group label, .title, .content, .panel, .sidebar {
    color: $text-light;
  }

  .convert-button, .close-button, button {
    background-color: lighten($primary-color-dark, 10%);
    color: $text-light;
    border: 2px solid $primary-color-dark;
  }

  .convert-button:hover, .close-button:hover, button:hover {
    background-color: $primary-color-dark !important;
  }

  input, select, .search {
    background-color: lighten($dark-bg, 10%);
    border-color: $primary-color-dark !important;
    color: $text-light;
  }

  // Применение фиолетового градиента для заголовка и других элементов
  .header, .panel {
    background: $primary-gradient-dark;
  }

  // Стили для таблицы в темной теме
  .watchlist-table {
    th {
      background-color: $primary-gradient-dark;
    }

    td {
      background-color: darken($dark-bg, 5%);
      color: $text-light;
    }
  }
}

// Миксин для светлой темы
@mixin theme-light {
  background-color: $light-bg;
  color: $text-dark;

  .form-group label, .title, .content, .panel, .sidebar {
    color: $text-dark;
  }

  .convert-button, .close-button, button {
    background-color: $primary-color;
    color: $text-light;
    border: 2px solid $primary-color;
    display: flex;
    flex-direction: column;
    margin-bottom:5px;
  }

  .convert-button:hover, .close-button:hover, button:hover {
    background-color: darken($primary-color, 10%);
  }

  input, select, .search {
    background-color: $light-bg;
    border-color: $primary-color;
    color: $text-dark;
  }

  // Применение зеленого градиента для заголовка и других элементов
  .header, .panel {
    background: $primary-gradient;
  }

  // Стили для таблицы в светлой теме
  .watchlist-table {
    th {
      background-color: $primary-gradient;
    }

    td {
      background-color: $light-bg;
      color: $text-dark;
    }
  }
}

// Общие стили
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  &.dark {
    @include theme-dark;
  }

  &.light {
    @include theme-light;
  }
}

// Заголовки
h1, h2, h3, h4, h5, h6 {
  color: $primary-color;

  &.dark {
    color: $primary-color-dark;
  }
}

// Кнопки
button {
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
